<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="HostName" value="127.0.0.1" />
    <add key="Port" value="5672" />
    <add key="UserName" value="DM" />
    <add key="PassWord" value="DingMing1997" />
    <add key="VirtualHost" value="/DM_VirtualHost" />
    <add key="SimpleQueue" value="SimpleQueue" />
    <add key="WorkQueue" value="WorkQueue" />
    <add key="RoundQueue" value="RoundQueue" />
    <add key="FairQueue" value="FairQueue" />
  </appSettings>
</configuration>